<h2>About me</h2>
<p>I am an ambitious software engineer with experience in creating fully automated projects in massive scale.<br/> I've studied software engineering and management in Finland and Ireland, and hold degrees from both countries.<br/> Most recently I've been involved in the creation of a fourth generation SCADA system for the CERN laboratory.</p>

<p>For curriculum vitae and references, please contact me at <a href="mailto:contact@rsilvola.com">contact@rsilvola.com</a></p>
<hr />

<span>
<ul class="fa-ul main-list" style="display: inline-block">
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://linkedin.com/in/rsilvola/">LinkedIn</a>
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="mailto:contact@rsilvola.com">Contact</a>
  </li>
</ul>
<ul class="fa-ul main-list" style="display: inline-block">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/riqpe/">GitHub</a>
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/riqpe/">Twitter</a>
  </li>
</ul>
</span>
