<ul class="fa-ul main-list" style="list-style-type: none; display: inline-block">
  <li class="main-list-item">
    <span class="fa fa-linkedin fa-lg main-list-item-icon"></span>
    <a href="https://linkedin.com/in/rsilvola/">LinkedIn</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/riqpe/">GitHub</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-twitter fa-lg main-list-item-icon"></span>
    <a href="https://twitter.com/riqpe/">Twitter</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="mailto:email@rsilvola.com">Contact</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-lock fa-lg main-list-item-icon"></span>
    <a href="http://rsilvola.com/pubkey.txt">PGP Key</a>
  </li>
</ul>
